#*
 * This file is part of Sonar Ignore Code Plugin.
 *
 * Sonar Ignore Code Plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Sonar Ignore Code Plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Sonar Ignore Code Plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#
 ------
 Download
 ------
 Shadowhunt
 ------

Download

    The latest version ${project.version} of ${project.name} can be found at
    {{{http://search.maven.org/#artifactdetails|${project.groupId}|${project.artifactId}|${project.version}|sonar-plugin}Maven
    Central}}.

    For all versions see {{{http://search.maven.org/#search|gav|1|g:"${project.groupId}" AND a:"${project.artifactId}" AND p:"sonar-plugin"}Maven Central Archive}}.
