#*
 * This file is part of Sonar Ignore Code Plugin.
 *
 * Sonar Ignore Code Plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Sonar Ignore Code Plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Sonar Ignore Code Plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#
 ------
 Introduction
 ------
 Shadowhunt
 ------

Sonar Ignore Code Plugin

    This plugin for {{{http://www.sonarsource.com}SonarSource}} or
    {{{http://www.sonarqube.org}SonarQube}} filters reported issues and
    coverage information base on project specific ignore files.

* Usage

	Instructions on how to install and use the Sonar Ignore Code Plugin can be found {{{./usage.html}here}}.
